/*---Variables*/
/*--Importaciones de estilos-*/
header .navbar {
  background-color: #343a40;
}
header .navbar .navbar-brand {
  font-weight: 600;
  color: #f8f9fa;
}
header .navbar .navbar-brand:hover {
  color: #007bff;
}
header .navbar .nav-link {
  font-weight: 500;
  color: #f8f9fa;
}
header .navbar .nav-link:hover {
  color: #007bff;
}

html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9fa;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("../img/fondo.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

.navbar {
  background-color: #343a40; /* Color de fondo oscuro */
  font-family: "Poppins", sans-serif;
}
.navbar .navbar-brand {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}
.navbar .navbar-brand:hover {
  color: #cccccc;
}
.navbar .nav-link {
  color: #ffffff;
  font-weight: 500;
  margin-left: 15px;
  transition: color 0.3s ease;
}
.navbar .nav-link:hover {
  color: #cccccc;
}
.navbar .nav-link.active {
  color: #ffffff;
  font-weight: 700;
  position: relative;
}
.navbar .nav-link.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
  position: absolute;
  bottom: -3px;
  left: 0;
}
.navbar .navbar-toggler {
  border: none;
  background-color: #ffffff;
  color: #343a40;
  transition: background-color 0.3s ease;
}
.navbar .navbar-toggler:hover {
  background-color: #cccccc;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}
.navbar .navbar-collapse {
  justify-content: center;
}
@media (min-width: 768px) {
  .navbar .navbar-collapse {
    justify-content: flex-end;
  }
}

.logo img {
  width: 110px;
  height: 110px;
  animation: rotateY360 10s linear infinite;
}

@keyframes rotateY360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes cambioDeColor {
  0% {
    opacity: 0;
    color: #4c5e5f; /* Color inicial */
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    color: rgb(13, 12, 12); /* Color final */
    transform: scale(1);
  }
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}

.container .wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container .logo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.container .logo img {
  border-radius: 50%;
}
.container .Titulo h1 {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  animation: cambioDeColor 2s ease-in-out;
}
.container .Titulo h2 {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  animation: cambioDeColor 2s ease-in-out;
}
.container .footer {
  margin-top: auto;
  text-align: center;
}

main h1 {
  font-size: 2em;
  margin: 20px 0;
  text-transform: uppercase;
  background-color: rgba(51, 51, 51, 0.7);
  padding: 10px;
  border-radius: 5px;
  color: #f9f9f9;
}
main .areas_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
main .areas_container .area {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
main .areas_container .area h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
main .areas_container .area .content {
  display: none;
  text-align: center;
  padding: 20px;
}
main .areas_container .area .content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
main .areas_container .area .content .text-container {
  color: black;
}
main .areas_container .area:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
main .areas_container .area:hover .content {
  display: block;
}

main .titulo {
  color: #ffffff;
  font-size: 30px;
  grid-area: main;
  flex: 1;
  padding: 20px;
  text-align: center;
}
main .parrafos {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

main .mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
main .mapa .map-container {
  width: 100%;
  height: auto;
}
main .mapa .map-container iframe {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
main .mapa .content {
  color: #212529;
  font-size: 18px;
  line-height: 1.6;
}

.footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.footer h5 {
  margin: 10px 0;
}
.footer .social-icons {
  margin-top: 15px;
}
.footer .social-icons a {
  margin: 0 10px;
}
.footer .social-icons a img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.footer .social-icons a:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
.footer p {
  margin-top: 20px;
  font-size: 14px;
  color: #bbb;
}

@media screen and (max-width: 768px) {
  .logo img {
    width: 80px;
    height: 80px;
  }
  .titulo h1 {
    font-size: 1.8em;
  }
  .mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .mapa .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .mapa .content p {
    font-size: 16px;
    margin: 0;
    color: #ffffff;
  }
  form {
    width: 100%;
    max-width: 350px;
    padding: 1em;
  }
  input,
  textarea {
    font-size: 0.9em;
    padding: 0.5em;
  }
}
@media screen and (max-width: 480px) {
  .mapa {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .mapa iframe {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
  }
  .mapa .content {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .mapa .content p {
    font-size: 14px;
    margin: 0;
    color: #ffffff;
  }
}

/*# sourceMappingURL=style.css.map */
