.footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;

    h5 {
        margin: 10px 0;
    }

    .social-icons {
        margin-top: 15px;

        a {
            margin: 0 10px;
        }
    }
    .social-icons a img {
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    .social-icons a:hover img {
        transform: scale(1.1);
        opacity: 0.8;
    }
    

    p {
        margin-top: 20px;
        font-size: 14px;
        color: #bbb;
    }
}
