header {
    .navbar {
        background-color: $dark-color;

        .navbar-brand {
            font-weight: 600;
            color: $light-color;
            &:hover {
                color: $primary-color;
            }
        }

        .nav-link {
            font-weight: 500;
            color: $light-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
}